-i https://pypi.org/simple

flloat==0.2.3
inferrer@ git+https://github.com/sapienza-rl/inferrer.git@cb76a979f708d283ac85247ed3080064969fb23c
kiwisolver==1.1.0
lark-parser==0.7.8

gym==0.15.4
numpy==1.18.1
pyparsing==2.4.6
pythomata==0.2.0
pygame
wandb
tqdm
torch
